{% extends "layout.html" %}

{% block title %} 
<title>Leitor 40 - Sugestões de Leitura</title>
{% endblock title %} 

{% set bodyId = "pagina-sugestoes"%}

{% block content %} 
    <header>
      <a href="/">
        <img src="/logo.svg" alt="Logomarca">
      </a>
      <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onclick="onOff()">Novo Livro</a></li>
      </nav>
    </header>
    <section id="title">
      <p>em exibição</p>
      <h1>Sugestões</h1>
    </section>
    <main>
      <section id="last-sugestoes">
        {% include "allSugestoes.html" %}
      </section>
    </main>
    <footer id="footer">
      <a href="https://www.linkedin.com/in/brunofrontend/" target="_blank">Bruno</a> 
    </footer>
{% endblock %}